

<%= form_for(@order) do |f| %>
  <p>
    <%= f.label :first_name, :class => "form-label" %><br>
      <%= f.text_field :last_name, :class => "form-control" %>
  </p>
  <p>
    <%= f.label :email, :class => "form-label" %><br>
      <%= f.email_field :email, :class => "form-control" %>
  </p>
  <p>
    <%= f.label :address, :class => "form-label" %><br>
      <%= f.text_field :address, :class => "form-control" %>
  </p>

  <p>
    <%= f.label :payment%> <br>
      <%= f.radio_button :payment, 'card' %> Card <br>
      <%= f.radio_button :payment, 'Dpay' %> Dpay <br>
      <%= f.radio_button :payment, 'Paybro' %> Paybro <br>
  </p>

  

  <p>
    <%= f.submit 'Purchase' %>
  </p>
  <% end %>

