
<p><strong>Name:</strong>
  <%= @product.name%>
</p>

<p>
  <strong>description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>ingredients:</strong> 
  <%= @product.ingredients %>
</p>

<p>
  <strong>price:</strong> $ 
  <%= @product.price %>
</p>

<% if @product.image.present? %> 
<%= image_tag @product.image, class: 'products_image'%>
<%end%>





