<!DOCTYPE html>
<html>
  <head>
    <title>LovePhoebe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav>
        <%= link_to 'Home', root_path%>
        |
        <%= link_to 'Products', products_path%>
        |
        <%= link_to 'About Us', about_us_path%>
        |
        <%= link_to 'Contact Us', contact_path%>
        |
        <% if @current_user.present? %>
        Welcome, <%= @current_user.first_name %>
        |
        <%= link_to 'Logout', login_path, method: 'delete' %>
        |
        <%= link_to 'Edit Users Info', edit_user_path(@current_user) %>
        <% else %>
        <%= link_to 'Login', login_path %>
        |
        <%= link_to 'Sign Up', new_user_path %>
        
        <%end%>
        
      </nav>
      
    </header>
    <%= yield %>
    <footer>
      <hr>
      &copy LovePhoebe 2022
    </footer>
  </body>
</html>
